@model IEnumerable<Book>

<h1>Kitap Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Yazar</th>
            <th>Yayın Yılı</th>
            <th>ISBN</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.ISBN</td>
                <td>
                    <a href="@Url.Action("Details", "Books", new { id = book.Id })" class="btn btn-primary">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
